.nav-container {
  display: flex;
  align-items: center;
  padding: 1em 1em 1em 1em;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #fff;
  background-color: #171716;
}

.nav-title {
  font-style: oblique;
  font-family: Exo+2;
  color: #7f8287;
}
